html, body {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  height: 100%;
  }
.main-block {
  max-width: 670px; 
  min-height: 550px; 
  padding: 10px 0;
  margin: auto;
  border-radius: 5px; 
  border: solid 1px #ccc;
  box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  background: #ebebeb; 
  }
  #abc {
    padding-left: 10px;
    
  }
  body, div, h1, form, input, p { 
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    color: #666;
    }
    p {
      font-size: 12px;
      }
      form {
        margin: 0 30px;
        }
        h1 {
          padding: 10px 0;
          font-size: 32px;
          font-weight: 300;
          text-align: center;
          }
          #xyz {
           float: left;
           padding-left: 5px;
           padding-top: 50px;
          }
          .btn-block {
            margin-top: 10px;
            text-align: center;
            padding-left: 200px;
            padding-right: 220px;
            }
            button {
            width: 100%;
            padding: 10px 0;
            margin: 10px auto;
            border-radius: 5px; 
            border: none;
            background: #1c87c9; 
            font-size: 14px;
            font-weight: 600;
            color: #fff;
            }
            button:hover {
            background: #26a9e0;
            }
            .btn-blockk {
              margin-top: 10px;
              text-align: center;
              padding-left: 600px;
              padding-right: 630px;
              }
              .btn-blockkk {
                margin-top: 10px;
                text-align: center;
                padding-left: 250px;
                padding-right: 250px;
                }
                #col {
                  background-color: rgb(243, 30, 30);

                }
                #moon {
                  padding-left: 40px;
                }
                #moon1 {
                  padding-left: 20px;
                }
                #moon2 {
                  padding-left: 20px;
                  
                }
                #moon3 {
                  padding-left: 0px;
                }
                #moon5 {
                  padding-left: 50px;
                }
                #moon6 {
                  padding-left: 95px;
                }
                #moon7 {
                  padding-left: 140px;
                }
                #moon10 {
                  padding-left: 40px;
                }
                #moon11 {
                  padding-left: 50px;
                }
                #moon12 {
                  padding-left: 60px;
                }
                #moon13 {
                  padding-left: 20px;
                }
                .main-blockk {
                  max-width: 670px; 
                  min-height: 580px; 
                  padding: 10px 0;
                  margin: auto;
                  border-radius: 5px; 
                  border: solid 1px #ccc;
                  box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
                  background: #ebebeb; 
                  }
                  #GG{
                    padding-left: 800px;
                  }